dist: xenial
sudo: required
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  
# command to install dependencies
install:
  - pip install -r test-requirements.txt
  - pip install .

# command to run tests
script:
  - python3 -m pytest --cov-report term --cov=odfuzz -v

after_success:
  - codecov
  - pylint odfuzz tests
  - bandit -r -lll odfuzz tests

notifications:
    email:
        recipients:
            - petr.hanak@sap.com            
    on_success: always
    on_failure: always
